  .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;  /* Preferred icon size */
      display: inline-block;
      line-height: 1;
      text-transform: none;
      letter-spacing: normal;
      word-wrap: normal;
      white-space: nowrap;
      direction: ltr;
    
      /* Support for all WebKit browsers. */
      -webkit-font-smoothing: antialiased;
      /* Support for Safari and Chrome. */
      text-rendering: optimizeLegibility;
    
      /* Support for Firefox. */
      -moz-osx-font-smoothing: grayscale;
    
      /* Support for IE. */
      font-feature-settings: 'liga';
    }

    body {
      font-family: Segoe UI;
    }

    .container-text {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
      max-width: 800px;
      margin: 0 auto;
    }
    
    h1 {
      display: flex;
      font-size: 100px;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-weight: 300px;
      color: rgba(92, 38, 163, 0.7);;
    }

    .search-bar {
      border: solid 1px rgba(106, 1, 243, 0.5);
      border-radius: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;
      margin: 30px auto 0px;
      max-width: 1080px;
    }

    .search-bar:focus-within {
      border: solid 1px rgba(136, 66, 228, 0.2);
      box-shadow: 0px 2px 5px rgba(98, 10, 212, 0.5);
    }

    .search-bar input {
      border: none;
      outline: none;
      padding: 10px;
      font-size: 18px;
      flex: 2;
    }

    .search-bar input::placeholder {
      color: rgb(80, 7, 175, 0.5);
      font-size: 20px;
    }

    .search-bar .actions {
      display: flex;
      gap: 4px;
    }

    .search-bar .actions button {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      color: rgb(80, 7, 175, 0.5);
    }

    .search-bar .actions button:hover {
      color: rgb(80, 7, 175, 1);
      transition: .35s;
    }

    p {
      position: relative;
      margin-top: 80px;
      text-align: center;
      justify-content: center;
      font-size: 40px;
    }

    @media screen and (max-width: 1160px) {

      .search-bar {
          margin: 30px 55px 0;
      }
      p{
          margin: 80px 55px 0;
      }
    }


    @media screen and (max-width: 800px) {
      h1 {
          font-size: 60px;
      }
      .container-text {
          height: 180px;
      }
      .search-bar {
          margin: 30px 20px 0;
      }
    }

    @media screen and (max-width: 480px) {
      h1 {
          font-size: 40px;
      }    
      .container-text {
          height: 150px;
      }
    }